@model CarsCategories
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    
    
</head>
      
        <!-- Navigation-->
        
        <nav class="navbar navbar-expand-lg navbar-dark mb-5" id="mainNav">
            
                <a class="navbar-brand" href="@Url.Action("IndexAdmin" , "Car")">CAR DEALER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link  text-warning" href="#services">Crea</a></li>
                        
                    </ul>
                </div>
           
            
        </nav>
        
    
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Inserisci una nuova auto</h2>
            <h3 class="section-subheading text-muted mb-5">Compila il form per inserire la nostra nuova auto!</h3>
        </div>
                <form action="@Url.Action("Create", "Car")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group col-md-12">
                        <h5>Immagine:</h5>
                        <input asp-for="car.Image" class="d-block w-100 text-black" />
                        <span asp-validation-for="car.Image" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <h5>Marca:</h5>
                        <input asp-for="car.BrandCar" class="d-block w-100" />
                        <span asp-validation-for="car.BrandCar" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <h5>Modello:</h5>
                        <input asp-for="car.ModelCar" class="d-block w-100" />
                        <span asp-validation-for="car.ModelCar" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <h5>Quantità:</h5>
                        <input asp-for="car.Quantity" class="d-block w-100" />
                        <span asp-validation-for="car.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5>Descrizione:</h5>
                        <textarea asp-for="car.Description" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="car.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <h5>Prezzo:</h5>
                        <input asp-for="car.Price"  class="d-block w-100" />
                        <span asp-validation-for="car.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <h5>Chilometri:</h5>
                        <input asp-for="car.Kilometers" rows="10" class="d-block w-100"/>
                        <span asp-validation-for="car.Kilometers" class="text-danger"></span>
                    </div>
                    <strong>Categoria:</strong>
                    <select asp-for ="car.CategoryId" class="form-select" aria-label="Default select example" >
                        <option selected>Seleziona una categoria</option>
                    @foreach(Category categoria in Model.categories)
                    {
                            
                        <option value="@categoria.Id">@categoria.NameCategory</option>

                    }
                    </select>
                    <br />
                    <div class="text-start">
                        <input type="submit" class="btn btn-small btn-primary" value="Salva">
                    </div>
                

                </form>


        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; WebApp-CarDealer 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>

         <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
       

</html>
