@model List<Car>
@{

    Layout = "_Layout";
}

    
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">CAR DEALER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link  text-warning" href="#listAuto">Auto</a></li>
                        <li class="nav-item"><a class="nav-link  text-warning" href="#funzioni">Funzioni</a></li>
                        
                        
                    </ul>
                </div>
            </div>
            
        </nav>
            </div>
            <header class="masthead">
            <div class="container">
                
                <div class="masthead-subheading">Benvenuto nell'area di gestione</div>
                <div class="masthead-heading text-uppercase">Concessionario auto</div>
                
                 <a class="btn btn-primary btn-xl text-uppercase" href="https://localhost:7202">Torna al sito</a>

            </div>

        </header>
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<div id="listAuto">
    <h2 class="text-center section-heading text-uppercase">Auto</h2>
                    <h5 class="text-center section-subheading text-muted">Le nostre auto!</h5>

    <table class="table post-list-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Immagine</th>
            
            <th>Brand</th>
            <th>Modello</th>
            <th>Funzioni</th>
            
        </tr>
    </thead>
    <tbody>

            @foreach(Car CarsList in Model)
            {
                <tr>
                    <td>@CarsList.Id</td>
                    <!-- questo è un esempio con url immagine esterna alla webapp attuale -->
                    <td class="image"><img class="post-list-image" src="@CarsList.Image" style="width:200px"></td>
                    
                    <td class="title">@CarsList.BrandCar</td>
                    <td class="description">@CarsList.ModelCar</td>
                    
                    <td>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("Update", "Car", new { id = CarsList.Id })">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                        </a>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("Refile", "Car", new { id = CarsList.Id })">
                            <i class="fa-regular fas fa-plus" width="24" height="24" style='font-size:24px;color:red'></i>
                        </a>
                        <a class="btn btn-info btn-sm" href="@Url.Action("Details", "Car", new { id = CarsList.Id})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                        </a>
                        
                        <form action="@Url.Action("Delete", "Car", new {id= CarsList.Id})" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                            </button>
                        </form>

                    </td>            
                </tr>
                            
            }
        </tbody>
</table>

</div>
<div id="funzioni">

    <section class="page-section" id="funzioni">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Servizi</h2>
                    <h3 class="section-subheading text-muted">I nostri servizi</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <a href="@Url.Action("ListRefile" , "Car")">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                        <h4 class="my-3">Lista rifornimenti</h4>
                        <p class="text-muted">Visualizza lo storico dei rifornimenti raggruppati per ogni auto!</p>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Create" , "Car")">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                        <h4 class="my-3">Inserisci auto</h4>
                        <p class="text-muted">Inserisci la nuova auto in arrivo compilando il form!</p>
                    </div>
                    
                </div>
            </div>
        </section>

</div>

<footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; WebApp-CarDealer 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>

         <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
